@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0,0,0,.6)!important;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #9F0C0C;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    margin-left: 4rem;
    position: relative;
}

.navbar-brand img{
    position: absolute;
	height: 3.5rem;
    top: -7px;
    left: -4rem;
}

.imageitem {
	height: 70vh;
}
.imageinner{
    height: 18rem;
	width: 22rem;
	margin: 1rem 1rem;
	border-radius: .5rem;
}

.nav-item .btn{
	padding: .6rem 1.3rem;
	font-size: 1rem;
	text-shadow: .1rem .1rem .8rem #9F0C0C;
}

.nav-item .btn:hover{
	color: #9F0C0C;
}












